.container {
  max-width: 1839px;
  margin: flex;
}

.promoSection {
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: left;
  color: black;
  gap: 32px;
  padding: 24px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navigationBar {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  background-color: rgb(251, 250, 248);
  gap: 24px;
}
ul {
  list-style: none;
  display: flex;
  padding: 12px;
  margin: 16px;
  gap: 40px;
  flex: 1;

  li {
    padding: 32px 0;
    font-weight: 500;
  }
}

.main {
  margin-top: 70px;
}

.h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  color: rgba(82, 82, 91, var(--tw-text-opacity));
  text-align: center;
}

.secondSection {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.picture {
  position: relative;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-align: center;
}
